<app-nav *ngIf="enableNavBar()"></app-nav>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav" *ngIf="enableSidebar()">
    <mat-list-item class="logo" [ngClass]="{'first-item': sidenav.opened}">
      <img src="https://i.postimg.cc/4d3LMbT9/menu.png" width="30" height="30" alt="Menu">
      <span>My Advice</span>
    </mat-list-item>

    <mat-nav-list>
      <mat-list-item (click)="changeComponent('select-specialist')">
        <img src="https://i.postimg.cc/fy4Qcg6K/persons.png" width="30" height="30" alt="Specialists">
        <span>Specialists</span>
      </mat-list-item>


      <mat-list-item (click)="changeComponent('chat')">
        <img src="https://i.postimg.cc/XNFbj4CD/chat.png" width="30" height="30" alt="Chat">
        <span>Chat</span>
      </mat-list-item>

      <mat-list-item (click)="changeComponent('list-activities')">
        <img src="https://i.postimg.cc/g2mBPPVR/task.png" width="30" height="30" alt="Activities">
        <span>Activities</span>
      </mat-list-item>


    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content-container">
      <app-selected-specialists *ngIf="selectedComponent === 'select-specialist'"></app-selected-specialists>
      <app-scheduled-sessions *ngIf="selectedComponent === 'scheduled-sessions'"></app-scheduled-sessions>
      <app-chat *ngIf="selectedComponent === 'chat'"></app-chat>
      <app-list-activities *ngIf="selectedComponent === 'list-activities'"></app-list-activities>
      <app-progress *ngIf="selectedComponent === 'progress'"></app-progress>
  </mat-sidenav-content>
</mat-sidenav-container>
