.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 70px;
  overflow: hidden;
  transition: width 0.3s;
}

.sidenav.expanded {
  width: 200px;
}

.sidenav:hover {
  width: 230px;
}

.mat-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: width 0.3s;
}
.mat-list-item:hover span {
  display: inline-block;
}

.mat-list-item.first-item span {
  display: none;
}

.mat-icon, img {
  margin-right: 10px;
  font-size: 24px;
}

.mat-list-item.active {
  background-color: #555;
}

.mat-sidenav-content {
  /**/
}
