<app-nav></app-nav>

<mat-card>
  <mat-card-header>
    <mat-card-title>Perfil de Usuario</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="profile">
      <p><strong>Nombre completo:</strong> {{ profile.fullName }}</p>
      <p><strong>Nombre de usuario:</strong> {{ profile.username }}</p>
      <p><strong>Correo electrónico:</strong> {{ profile.email }}</p>
      <p><strong>Contraseña:</strong> {{ profile.password ? 'Establecida' : 'No establecida' }}</p>
    </div>
    <div *ngIf="!profile">
      <p>No se ha cargado el perfil.</p>
    </div>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>
