<app-nav></app-nav>

<div class="home-container">
  <div class="search-bar">
    <input type="text" placeholder="Find specialists...">
    <button mat-raised-button color="primary"><mat-icon>search</mat-icon> Search</button>
  </div>

  <div class="filters">
    <mat-form-field class="filter">
      <mat-select placeholder="Country">
        <mat-option value="country1">Perú</mat-option>
        <mat-option value="country2">México</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="filter">
      <mat-select placeholder="Language">
        <mat-option value="language1">Spanish</mat-option>
        <mat-option value="language2">English</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="filter">
      <mat-select placeholder="Career">
        <mat-option value="career1">Psychology</mat-option>
        <mat-option value="career2">Education</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="filter">
      <mat-select placeholder="Specialization">
        <mat-option value="specialization1">Cognitive psychology</mat-option>
        <mat-option value="specialization2">Neuroscience</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="specialist-cards">
    <div class="specialist-card">
      <img src="https://i.postimg.cc/yxMcJkFd/teacher.jpg" alt="Especialista 1">
      <h3>Melanie Cruz</h3>
      <p>Age: 25</p>
      <p>Career: Psychology</p>
      <p>Specialization: Cognitive psychology</p>
      <div class="tags">
        <span>memoria</span>
        <span>aprendizaje</span>
        <span>comportamiento</span>
      </div>
      <p>Language: Español</p>
      <p>Nationality: Peruana</p>
      <button mat-raised-button color="primary" class="large-button">Reserve</button>
    </div>

    <div class="specialist-card">
      <img src="https://i.postimg.cc/Z5KRpXmm/specialist1.jpg" alt="Especialista 2">
      <h3>Jorge Méndez</h3>
      <p>Age: 30</p>
      <p>Career: Education</p>
      <p>Specialization: Neuroscience</p>
      <div class="tags">
        <span>Técnicas de estudio</span>
        <span>Organización</span>
        <span>Hábitos</span>
      </div>
      <p>Language: Español</p>
      <p>Nationality: Mexicana</p>
      <button mat-raised-button color="primary" class="large-button">Reserve</button>
    </div>

    <div class="specialist-card">
      <img src="https://i.postimg.cc/KjPzD24G/specialist3.jpg" alt="Especialista 3">
      <h3>Leidy Gomero</h3>
      <p>Age: 35</p>
      <p>Career: Education</p>
      <p>Specialization: Neuroscience</p>
      <div class="tags">
        <span>Técnicas de estudio</span>
        <span>Organización</span>
        <span>Hábitos</span>
      </div>
      <p>Language: Español</p>
      <p>Nationality: Peruana</p>
      <button mat-raised-button color="primary" class="large-button">Reserve</button>
    </div>

    <div class="specialist-card">
      <img src="https://i.postimg.cc/yx4xRd1p/specialist2.jpg" alt="Especialista 4">
      <h3>Mario Castro</h3>
      <p>Age: 25</p>
      <p>Career: Education</p>
      <p>Specialization: Neuroscience</p>
      <div class="tags">
        <span>Técnicas de estudio</span>
        <span>Organización</span>
        <span>Hábitos</span>
      </div>
      <p>Language: Español</p>
      <p>Nationality: Peruana</p>
      <button mat-raised-button color="primary" class="large-button">Reserve</button>
    </div>

    <div class="specialist-card">
      <img src="https://i.postimg.cc/5NmyHbZp/specialist4.jpg" alt="Especialista 5">
      <h3>Jorge Ventura</h3>
      <p>Age: 25</p>
      <p>Career: Education</p>
      <p>Specialization: Neuroscience</p>
      <div class="tags">
        <span>Técnicas de estudio</span>
        <span>Organización</span>
        <span>Hábitos</span>
      </div>
      <p>Language: Español</p>
      <p>Nationality: Mexicana</p>
      <button mat-raised-button color="primary" class="large-button">Reserve</button>
    </div>

    <div class="specialist-card">
      <img src="https://i.postimg.cc/HkZL23Wy/specialist5.png" alt="Especialista 6">
      <h3>Paola Shau</h3>
      <p>Age: 27</p>
      <p>Career: Education</p>
      <p>Specialization: Neuroscience</p>
      <div class="tags">
        <span>Técnicas de estudio</span>
        <span>Organización</span>
        <span>Hábitos</span>
      </div>
      <p>Language: Español</p>
      <p>Nationality: Mexicana</p>
      <button mat-raised-button color="primary" class="large-button">Reserve</button>
    </div>

  </div>
</div>

<app-footer></app-footer>
