<footer class="footer">
  <div class="footer-section">
    <h2>Sections</h2>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/start">My Advice</a></li>
      <li><a routerLink="#">Support</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h2>EduFocus</h2>
    <ul>
      <li><a routerLink="#">About Us</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h2>Legal Terms</h2>
    <ul>
      <li><a routerLink="#">Privacy</a></li>
      <li><a routerLink="#">Terms</a></li>
      <li><a routerLink="#">Cookies</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <div class="logo">
      <img src="https://i.postimg.cc/2jWZ4JSh/main-logo.png" alt="Logo">
      <p>Aprender, crecer, destacar: ¡hazlo realidad!</p>
    </div>
    <div class="social-media">
      <a href="#"><img src="https://i.postimg.cc/j20m372z/Facebook-Logo.png" alt="Facebook"></a>
      <a href="#"><img src="https://i.postimg.cc/66MC0NPQ/instagram.png" alt="Instagram"></a>
      <a href="#"><img src="https://i.postimg.cc/Hkztf7ZQ/youtube.png" alt="YouTube"></a>
    </div>
  </div>
</footer>
